# Xcode
xcuserdata/
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift PM (none used, keep the noise out anyway)
.build/
.swiftpm/
